<template id="clasificacion-table-template">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Equipo</th>
                <th>Puntos</th>
                <th class="hidden">PJ</th>
                <th class="hidden">PG</th>
                <th class="hidden">PE</th>
                <th class="hidden">PP</th>
                <th class="hidden">TF</th>
                <th class="hidden">TC</th>
            </tr>
        </thead>
        <tbody id="tbody-clasificacion"></tbody>
    </table>
</template>