* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3 {
    text-align: center;
}

button {
    width: 120px;
    padding: 4px;
    background-color: #eb6;
    border-radius: 5px;
    font-weight: bold;
    color: #3f3f3f;

    &:hover {
        cursor: pointer;
    }
}

.btn-table {
    width: 35px;
    padding: 2px;
    background-color: lightgrey;
    color: #3f3f3f;
    border: 2px solid darkgrey;

    & + .btn-table{
        margin-left: 5px;
    }
}

/* HEADER */

.main-header {
    width: 100%;
    height: 125px;
    background-color: rgb(122 11 11);
    border-bottom: 2px solid rgb(71 1 1);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    z-index: 30;

    h1 {
        font-size: 36px;
        color: white;
        margin-bottom: 20px;
    }
}

.navbar {
    width: 100%;

    ul {
        list-style-type: none;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;

        li {
            flex-grow: 1;

            a {
                display: block;
                color: white;
                text-decoration: none;
                text-shadow: 2px 1px black;
                line-height: 2.5em;
                font-size: 1.1em;
            }          
        }
    }
}

/* MAIN */

main {
    margin-top: 125px;
    width: 100%;
    padding: 20px;
}

table {
    width: 90%;
    min-width: 400px;
    max-width: 1200px;
    margin: 15px auto;

    thead {
        border-bottom: 2px solid black;

        th {
            background-color: rgb(197 76 76);
            color: rgb(252 247 234);
            padding: 5px;
            border-radius: 5px;;
        }
    }

    & tbody tr:nth-child(odd) {
        background-color: #f3f3f3;
    }

    td {
        padding: 3px;
        text-align: center;
    }
}

form {
    width: 80%;
    min-width: 400px;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    div {
        width: 45%;
        min-width: 300px;
        margin-top: 15px;

        input {
            width: 100%;
        }

        select {
            width: 100%;
        }
    }

    .add-btn {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.table-container {
    width: 100%;
    text-align: center;
}


/* OTROS */


.box-button-submit {
    width: 80%;
    min-width: 400px;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

.box-jornadas {
    width: 80%;
    min-width: 400px;
    max-width: 900px;
    margin: 20px auto 0;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;

    div {
        width: 100%;
        min-width: 400px;
        margin-top: 15px;
    }
}

.partido{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    
    .equipo {
        width: 45%;

        input {
            width: 45px;
        }

        span {
            padding: 0 30px;
        }
    }

    .local {
        display: flex;
        justify-content: flex-end;
    }

    .visitante {
        display: flex;
        justify-content: flex-start;
    }
}

.f-partido {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

/* NOTICIAS */

.noticias-table-container {
    text-align: center;
}

.pagination {
    width: 70%;
    min-width: 400px;
    max-width: 900px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.noticias-form-container {
    width: 100%;
}

.noticias-form {
    width: 80%;
    min-width: 400px;
    max-width: 900px;
    margin: 20px auto 0;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-flow: column wrap;

    div {
        width: 100%;

        input[type="text"] {
            width: 100%;
        }

        input[type="date"] {
            width: 30%;
        }

        textarea {
            width: 100%;
            height: 50px;
        }
        
        #contenido {
            height: 150px;
        }
    }
}

.div-buttons {
    width: 45%;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
}

.jug-buttons {
    width: 45%;
    display: flex;
    justify-content: space-between;
}

.liga-buttons {
    width: 80%;
    min-width: 400px;
    max-width: 900px;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
}

.box-edit-partido {
    width: 80%;
    min-width: 400px;
    max-width: 900px;
    margin: 20px auto 0;
    padding: 10px;
    text-align: center;
}

.acciones-partido {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &>div {
        width: 45%;
        display: flex;
        flex-direction: column;
    }
}