* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2 {
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 70%;
    min-width: 400px;
    max-width: 900px;
    margin: 20px auto;
    text-align: center;
    font-size: 16px;

    & tbody tr:nth-child(odd) {
        background-color: #f3f3f3;
    }
}

form {
    width: 80%;
    min-width: 400px;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    div {
        width: 45%;
        min-width: 300px;
        margin-top: 15px;

        input {
            width: 100%;
        }

        select {
            width: 100%;
        }
    }
}

.box-button-submit {
    width: 80%;
    min-width: 400px;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

.box-jornadas {
    width: 80%;
    min-width: 400px;
    max-width: 900px;
    margin: 20px auto 0;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;

    div {
        width: 100%;
        min-width: 400px;
        margin-top: 15px;
    }
}

.partido{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    
    .equipo {
        width: 45%;

        input {
            width: 45px;
        }

        span {
            padding: 0 30px;
        }
    }

    .local {
        display: flex;
        justify-content: flex-end;
    }

    .visitante {
        display: flex;
        justify-content: flex-start;
    }
}

.f-partido {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.noticias-form-container {
    width: 100%;
}

.noticias-form {
    width: 80%;
    min-width: 400px;
    max-width: 900px;
    margin: 20px auto 0;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-flow: column wrap;

    div {
        width: 100%;

        input[type="text"] {
            width: 100%;
        }

        input[type="date"] {
            width: 30%;
        }

        textarea {
            width: 100%;
            height: 50px;
        }
        
        #contenido {
            height: 150px;
        }
    }
}

.div-buttons {
    width: 45%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}