<template id="form-usuario-template">
    <form id="form-usuario">
        <input type="hidden" name="id-user" id="id-user" autocomplete="off">
        <div>
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" name="nombre">
        </div>
        <div>
            <label for="apellidos">Apellidos</label>
            <input type="text" id="apellidos" name="apellidos">
        </div>
        <div>
            <label for="nickname">Nickname</label>
            <input type="text" id="nickname" name="nickname">
        </div>
        <div>
            <label for="rol">Rol</label>
            <select id="rol" name="rol">
                <option value="admin">admin</option>
                <option value="edit">editor</option>
                <option value="user">usuario</option>
            </select>
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" id="email" name="email">
        </div>
        <div>
            <label for="pwd">Contraseña</label>
            <input type="password" id="pwd" name="pwd">
        </div>

        <div class="div-buttons">
            <button id="guardar-btn">Guardar</button>
            <button id="limpiar-btn">Limpiar</button>
            <button id="cancelar-btn">Cancelar</button>
        </div>
    </form>
</template>